{% extends 'base.html' %}

{% block content %}

<style>

.forgot-container{

    width:500px;
    margin:60px auto;
    background:white;
    padding:40px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
}

.forgot-container h1{

    color:#0b4f7a;
    margin-bottom:30px;
}

.forgot-container input{

    width:100%;
    padding:12px;
    border-radius:8px;
    border:1px solid #ccc;
    margin-top:10px;
    margin-bottom:25px;
}

.forgot-container button{

    background:#2874a6;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.forgot-container button:hover{

    background:#1f5d87;
}

</style>

<div class="forgot-container">

    <h1>Відновлення доступу</h1>

    <form method="POST"
          autocomplete="off">

        <input type="hidden"
               name="csrf_token"
               value="{{ csrf_token() }}">

        <label>

            Ім'я користувача

        </label>

        <input type="text"
               name="username"
               class="form-input"
               autocomplete="off">

        <button type="submit">

            Увійти без пароля

        </button>

    </form>

</div>

{% endblock %}